[Unit]
Description=Load dataset encryption keys
Before=systemd-user-sessions.service
Before=zfs-mount.service
After=zfs-import.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/bash -c 'lockedDatasets=($(zfs get -t filesystem,volume keystatus -H -o name,value | grep -v swap | grep unavailable | cut -f1)) ; echo $${lockedDatasets[*]}; for lockedDataset in $${lockedDatasets[*]} ; do echo $${lockedDataset} ; if zfs get keystatus -H -o value | grep -qs unavailable ; then unlockPassphrase=$(systemd-ask-password "Enter decryption passphrase for $${lockedDataset}: ") ; yes "$unlockPassphrase" | zfs load-key -a ; fi ; done'

[Install]
WantedBy=zfs-mount.service
WantedBy=multi-user.target
