[Unit]
Description=Load pool encryption keys
Before=systemd-user-sessions.service
Before=zfs-mount.service
After=zfs-import.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/bash -c 'if grep -q 'unavailable' <<<`zfs get keystatus`; then echo "There are zfs keys to be loaded."; keys=$(systemd-ask-password "Enter your ZFS Decryption key: ") ; yes $keys | zfs load-key -a; else echo "There are no zfs keys to be loaded."; fi'

[Install]
WantedBy=multi-user.target zfs-mount.service home.mount
