[Unit]
Description=Load pool encryption keys
Before=systemd-user-sessions.service
Before=zfs-mount.service
After=zfs-import.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/opt/zfsServices/zfs-autoswap

[Install]
WantedBy=multi-user.target
